RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

# Disable directory browsing
Options -Indexes

# Prevent viewing of .htaccess file
<Files .htaccess>
Order allow,deny
Deny from all
</Files>

# Set default charset
AddDefaultCharset UTF-8